.edition-show {

  section {
    padding-bottom: 18px;
  }

  .edition-buttons {
    margin-bottom: 18px;
  }

  .edition-view-buttons {
    width: 60%;
    float: left;
    padding-bottom: 36px;
  }

  .edition-edit-buttons {
    width: 30%;
    float: right;
    margin-right:16px;
    padding-bottom: 36px;
  }

  .edition-sidebar {
    margin-top: 18px;

    .btn {
      margin-bottom: 8px;
    }
  }
}
